.work-info-card {
	display: flex;
	justify-content: space-around;
	flex-direction: column;

	width: 280px;
	height: 450px;

	justify-self: center;

	user-select: none;

	padding: 1rem;
	background-color: #F5F5F5;

	&:hover {
		cursor: pointer;
	}
}

.work-info-card-text-section {
	display: list-item;
	list-style-type: disc;
	padding: 1rem;
}