
@mixin growAnimation($scale-amount: 1.05)
{
	transition-property: transform;
	transition-duration: .3s;

	&:hover {
		transform: scale(#{$scale-amount});
		cursor: pointer;
	}

	&:active {
		transform: scale(1.01);
		cursor: pointer;
	}
}