// Color theme
$primary: #43A047;
$primary-light: #76d275;
$primary-dark: #00701a;

$on-primary: #212121;
$on-primary-light: #212121;
$on-primary-dark: #fafafa;

$secondary: #0d47a1;
$secondary-light: #5472d3;
$secondary-dark: #002171;

$on-secondary: #fafafa;
$on-secondary-light: #212121;
$on-secondary-dark: #fafafa;

$cool-blue: #2196F3;

// $background: #fafafa;

$background: #0f0e11;
$on-background: #dad8de;

// $on-background: #212121;

$surface: $primary;
$on-surface: $on-primary;

$error: #b71c1c;
