// variables
@import "./colors.scss";
@import "./animations.scss";
@import "./scrollbar.scss";

// App
@import "../src/App/App.scss";

// Start Component
@import "../src/Start/ProfileTitle/ProfileTitle.scss";
@import "../src/Start/ProfileImage/ProfileImage.scss";
@import "../src/Start/CardContainer/CardContainer.scss";

// Menu Component
@import "../src/Menu/MenuContainer/MenuContainer.scss";
@import "../src//Menu/NavButton/NavButton.scss";

// Contact Components
@import "../src/Contact/Contact.scss";
@import "../src/Contact/ContactButton.scss";

// Work History Components
@import "../src/WorkHistory/WorkHistory/WorkHistory.scss";
@import "../src/WorkHistory/CompanyCard/CompanyCard.scss";
@import "../src/WorkHistory/TechItemContainer/TechItemContainer.scss";
@import "../src/WorkHistory/TechItem/TechItem.scss";
@import "../src/WorkHistory/WorkInfo/WorkInfo.scss";


// Education Components
@import "../src/Education/Education.scss";

// Projects Components
@import "../src/Projects/Projects.scss";

// CV Components
@import "../src/CV/CV.scss";

// Scroll Button
@import "../src/ScrollButton/ScrollButton.scss";

// Library css
@import "../node_modules/animate.css/animate.min.css";
@import "../node_modules/swiper/dist/css/swiper.min.css";

html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
}