
// Scrollbar styling only supported in chrome unfortunately
// NOT WORKING CURRENTLY
::-webkit-scrollbar-track {
	width: 100px;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
}