

.scroll-button {
	position: fixed;

	height: 64px;
	width: 64px;

	background-color: $background;
	border-radius: 100%;

	bottom: 24px;
	right: 24px;

	display: flex;
	justify-content: center;
	align-items: center;

	opacity: 0.5;
	transition: opacity 200ms;

	// Really high z-index so it is still clickable when on top of the carousel
	z-index: 99999;

	// Stop cursor pointer appearing if hovering over the button and the button is not visible.
	&:not(.hidden) {
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	&.hidden {
		opacity: 0;
	}
}


