.tech-item-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 64px;
	overflow: hidden;
}

.tech-wrapper {
	width: 60%;
	max-width: 1000px;
	grid-column: span 2;
	justify-self: center;
}
