
@mixin cv-button-defaults($background-color) {
	@include growAnimation;
	width: 200px;
	height: 60px;
	font-size: 1.25rem;
	background-color: $background-color;
	color: #F5F5F5;
	border: 0;
	outline: 0;
}

.cv-container {
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cv-wrapper {
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;

	max-height: 240px;
	height: 100%;
	width: 50%;

	.cv-icon {
		grid-row: 1 / 3;
		grid-column-start: 2;
		align-self: center;
		justify-self: center;
	}

	.cv-title {
		transition: font-size 300ms;
		font-size: 0;
	}

	.cv-title-wrapper {
		grid-row: 1 / 3;
		grid-column-start: 2;
		align-self: center;
		justify-self: center;
		text-align: center;

	}

	.cv-title-wrapper:hover {
		.cv-title {
			padding-top: 10px;
			font-size: 2rem;
		}
	}

	> .cv-download-doc-wrapper {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: 2;
		align-self: center;

		> .cv-download-doc-button {
			$ms-doc-color: #2b5797;
			@include cv-button-defaults($ms-doc-color);
		}
	}

	> .cv-download-pdf-wrapper {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 2;
		align-self: center;

		> .cv-download-pdf-button {
			$adobe-color: #ff0000;
			@include cv-button-defaults($adobe-color);
		}
	}
}