
.contact-container {
	display: grid;
	grid-template-rows: 65% 35%;
	height: 50vh;
	width: 100%;
	background-color: #263238;
}

.contact-title-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.contact-title {
		color: white;
		font-size: 2rem;
	}
}

.contact-button-container {
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: auto;

	> a {
		text-decoration: none;
		margin: 12px 32px;
	}

	.contact-button-wrapper {
		$button-default-size: 56px;

		border-radius: 100%;
		border: 1px solid #2196F3;;
		width: $button-default-size;
		height: $button-default-size;
	}
}
