


// In milliseconds (ms)
$animation-delays: 0 600 800 1000 1100 1200 1400 1600 1800;

// Create delay classes for each animation delay time in the array
@each $delay in $animation-delays {
	.nav-button-delay-#{$delay} {
		animation-delay: #{$delay}ms;
	}
}

$default-height: 130px;
$default-width: 120px;

.nav-button {
	@include growAnimation;
	font-size: 1rem;
	border-width: 0;

	border-radius: 5%;
	background-color: white;
	color: $background;
	letter-spacing: 2px;
	padding: 0;
	outline: none;

	height: $default-height;
	width: $default-width;

	.nav-button-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;

		.nav-button-icon {
			flex-grow: 1;
		}

		.nav-button-text {
			margin-bottom: 5px;
		}
	}
}

