.work-history-container {
	height: 90vh;
	background-color: #455A64;

	> .swiper-container {
		height: 100%;
		width: 100%;

		.swiper-slide {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.lighthouse-container {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 70% 30%;
		}

		.swiper-pagination-bullet {
			width: 18px;
			height: 18px;
			margin: 0 9px;
		}

		transition: opacity 300ms;

		.swiper-pagination {
			opacity: 0;
			bottom: 30px;
		}

		// Only make pagination buttons when hovering over the container. Otherwise user think the pagination
		// control is linked to other non-related sections
		&:hover {
			.swiper-pagination {
				opacity: 1;
			}
		}

		.swiper-pagination-bullet-active {
			background-color: #F5F5F5;
		}
	}
}




