

.education-container {
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.education-wrapper {
	display: grid;
	grid-template-columns: 40% 60%;

	height: 50%;
	width: 80%;

	.education-title-wrapper {
		align-self: center;
		justify-self: center;
		text-align: center;

		> .education-title {
			transition: font-size 300ms;
			font-size: 0;
		}

		&:hover > .education-title {
			padding-top: 10px;
			font-size: 1.75rem;
		}

	}

	.education-info {
		align-self: center;

		.education-degree {
			font-size: 2rem;
		}

		.education-university {
			padding-left: 1px;
		}

		.education-dates {
			font-size: .9rem;
			opacity: .7;
			padding-left: 1px;
		}

	}
}

