.tech-item {
	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 3px;

	padding: 0 8px;
	margin: 8px 8px;

	height: 32px;
	background-color: $cool-blue;
	color: #E0E0E0;

	user-select: none;
}