
// Change Name of this class
.start-container {
	display: grid;
	grid-template-rows: 70% 30%;
	height: 70vh;
	width: 100%;
	background-color: #2196F3;

	.start-container-button-section {
		.start-container-button-section-wrapper {
			margin: auto;
			width: 60%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
	}

	.start-container-banner-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}