
.main-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: #F5F5F5;


	.main-title {
		font-size: 2rem;
		letter-spacing: .4rem;
	}

	.main-description {
		font-size: 1rem;
	}
}
