.company-card-container {
	justify-self: center;
	align-self: center;
}

.company-card {
	display: grid;
	align-items: center;

	grid-template-rows: 70% 30%;
	width: 280px;
	height: 450px;

	padding: 1rem;
	background-color: #F5F5F5;

	user-select: none;

	.company-card-title-section {

		justify-self: center;
		border-top: 1px solid grey;
		padding-top: 1rem;

		.company-card-title-section-company {
			font-size: 1.75rem;
		}
		.company-card-title-section-job-title {
			font-size: 1.2rem;
		}
		.company-card-title-section-location {
			font-size: .9rem;
			opacity: .75;
		}
		.company-card-title-section-dates {
			font-size: .9rem;
			opacity: .75;
		}
	}

	.company-card-image-section {
		> img {
			display: block;
			margin: auto;
			max-height: 100%;
			max-width: 260px;
		}

		align-self: center;
	}

	&:hover {
		cursor: pointer;
	}
}