

.projects-container {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: $cool-blue;

	.projects-title-wrapper {
		color: #F5F5F5;
		font-size: 2rem;
	}

	.projects-description-wrapper {
		color: #F5F5F5;
	}
}